{% extends 'crud/form.html' %}

{% load bootstrap %}

{% block sidebar %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'produto-list' %}">Listagem</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cadastro</li>
{% endblock %}

{% block nometela %}
    Produto
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">{{form.descricao|bootstrap}}</div>
        </div>
        <div class="row">
            <div class="col-md-4">{{form.categoria|bootstrap}}</div>
            <div class="col-md-4">{{form.und_medida|bootstrap}}</div>
            <div class="col-md-2">{{form.valorpago|bootstrap}}</div>
            <div class="col-md-2">{{form.valorvenda|bootstrap}}</p></div>
        </div>
        <div class="row">
            <div class="col-md-6"><b>ESTOQUE: </b><p>{{form.estoque.value}}</p></div>
        </div>
        <br>
        <a class="btn btn-danger" href="{% url 'produto-list' %}" role="button">Cancelar</a>
        <button type="submit" class="btn btn-primary float-end">Salvar</button>
    </form>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">

    </script>
{% endblock %}