{% extends 'crud/confirm_delete.html' %}

{% block sidebar %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'produto-list' %}">Listagem</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete</li>
{% endblock %}

{% block nometela %}
    Produto
{% endblock %}

{% block content %}
<h3>Você realmente deseja deletar o produto: {{produto}}?</h3>
<form method="POST">
    {% csrf_token %}
    <br>
    <button type="submit" class="btn btn-primary float-end">Confirmar</button>
</form>
{% endblock %}