{% extends 'crud/list.html' %}

{% block sidebar %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listagem</li>
{% endblock %}

{% block nometela %}
    Produtos
{% endblock %}

{% block pesquisar %}
    <form class="form-inline">
        <div class="row">
            <div class="col">
                <div class="mx-sm-3 mb-2">
                    <input type="text" class="form-control" name="pesquisa" placeholder="Digite sua pesquisa">
                </div> 
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-secondary mb-2">Pesquisar</button>
            </div>
          </div>
    </form>
{% endblock %}

{% block botao_novo %}
    <a class="btn btn-primary" href="{% url 'produto-add' %}" role="button">Novo produto</a>
{% endblock %}

{% block content %}
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th style="width: 50%">Produto</th>
                <th style="width: 10%"">Categoria</th>
                <th style="width: 20%;">Compra</th>
                <th style="width: 20%;">Venda</th>
                <th style="width: 10%;">Estoque</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td><a href="{% url 'produto-update' produto.id %}">{{produto.descricao}}</a></td>
                <td>{{produto.categoria}}</td>
                <td>R$ {{produto.valorpago}}</td>
                <td>R$ {{produto.valorvenda}}</td>
                <td>{{produto.estoque}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="pagination">
        <span class="step-links" style="position: relative; margin-left: auto; margin-right: auto;">
            {% if produtos.has_previous %}
            <a href="?page=1" class="btn btn-outline-secondary btn-sm">&laquo; Primeiro</a>
            <a href="?page={{ produtos.previous_page_number }}" class="btn btn-outline-primary btn-sm">Anterior</a>
            {% endif %}
    
            {% if produtos.number %}
            <span class="current">
                Pagina {{ produtos.number }} de {{ produtos.paginator.num_pages }}.
            </span>
            {% endif %}
    
            {% if produtos.has_next %}
            <a href="?page={{ produtos.next_page_number }}" class="btn btn-outline-primary btn-sm">Próxima</a>
            <a href="?page={{ produtos.paginator.num_pages }} " class="btn btn-outline-secondary btn-sm">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
