{% extends 'crud/list.html' %}

{% block sidebar %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listagem</li>
{% endblock %}

{% block nometela %}
    Serviços
{% endblock %}

{% block content %}
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Serviço</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for servico in servicos %}
            <tr>
                <td><a href="{% url 'servico-update' servico.id %}">{{servico.descricao}}</a></td>
                <td>R$ {{servico.preco|floatformat:2}}</td>
                <td style="text-align: center;"><a href="{% url 'servico-delete' servico.id %}"><i class="fa fa-trash-o"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block botao_novo %}
    <a class="btn btn-outline-primary" href="{% url 'servico-add' %}" role="button">Novo serviço</a>
{% endblock %}
