{% extends 'home.html' %}

{% block sidebar %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Clientes</li>
{% endblock %}

{% block content %}
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data de nascimento</th>
                <th scope="col">Telefone</th>
                <th scope="col">Endereço</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in lista_clientes %}
            <tr>
                <td><a href="{% url 'cliente-update' cliente.id %}">{{cliente.nome}}</a></td>
                <td>{{cliente.data_nasc|date:"d, M-Y"}}</td>
                <td>{{cliente.telefone}}</td>
                <td>{{cliente.endereco}}</td>
                <td style="text-align: center;"><a href="{% url 'cliente-delete' cliente.id %}"><i class="bi bi-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination" style="padding-top: 20px; padding-bottom: 50px;">
        <span class="step-links" style="position: relative; margin-left: auto; margin-right: auto;">
            {% if lista_clientes.has_previous %}
            <a href="?page=1" class="btn btn-outline-secondary btn-sm">&laquo; Primeiro</a>
            <a href="?page={{ lista_clientes.previous_page_number }}" class="btn btn-outline-primary btn-sm">Anterior</a>
            {% endif %}
    
            {% if lista_clientes.number %}
            <span class="current">
                Pagina {{ lista_clientes.number }} de {{ lista_clientes.paginator.num_pages }}.
            </span>
            {% endif %}
    
            {% if lista_clientes.has_next %}
            <a href="?page={{ lista_clientes.next_page_number }}" class="btn btn-outline-primary btn-sm">Próxima</a>
            <a href="?page={{ lista_clientes.paginator.num_pages }} " class="btn btn-outline-secondary btn-sm">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
{% block botao_novo %}
    <a class="btn btn-primary" href="{% url 'cliente-add' %}" role="button">Novo cliente</a>
{% endblock %}