{% extends 'crud/list.html' %}

{% block sidebar %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listagem</li>
{% endblock %}

{% block nometela %}
    Categorias
{% endblock %}

{% block content %}
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Sigla</th>
                <th>Descrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td><a href="{% url 'categoria-update' categoria.id %}">{{categoria.sigla}}</a></td>
                <td>{{categoria.descricao}}</td>
                <td style="text-align: center;"><a href="{% url 'categoria-delete' categoria.id %}"><i class="fa fa-trash-o"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block botao_novo %}
    <a class="btn btn-outline-primary" href="{% url 'categoria-add' %}">Nova categoria</a>
{% endblock %}
