{% extends 'base.html' %}

{% block sidebar %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'venda-list' %}">Vendas</a></li>
    <li class="breadcrumb-item"><a href="{% url 'venda-update' item.venda_id %}">Venda {{item.venda}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Item da venda - Delete</li>
{% endblock %}

{% block content %}
    <h3>Você realmente deseja apagar o item: {{item}}?</h3>
    <form method="POST">
        {% csrf_token %}
        <br><button type="submit" class="btn btn-primary">Confirmar</button>
    </form>
{% endblock %}