{% extends 'crud/form.html' %}

{% load bootstrap %}

{% block sidebar %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'venda-list' %}">Vendas</a></li>
    <li class="breadcrumb-item"><a href="{% url 'venda-update' item.venda_id %}">Venda {{item.venda.num_venda}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Item da venda</li>
{% endblock %}

{% block content %}
    {% if mensagem %}
    <h3>{{mensagem}}</h3>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8">{{form.produto|bootstrap}}</div>
            <div class="col-md-4">{{form.qtde|bootstrap}}</div>
        </div>
        <br>
        <a href="{% url 'venda-update' item.venda_id %}" class="btn btn-danger">Cancelar</a>
        <button type="submit" class="btn btn-primary float-end">Confirmar</button>
    </form>
{% endblock %}