{% extends 'home.html' %}

{% block sidebar %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'venda-list' %}">Vendas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete venda</li>
{% endblock %}

{% block content %}
    <h3>Confirmar cancelamento da venda, número: {{venda.num_venda}}; cliente: {{venda.cliente}}.</h3>
    <form method="POST">
        {% csrf_token %}
        <br>
        <a href="{% url 'venda-list' %}" class="btn btn-danger">Cancelar</a>
        <button type="submit" class="btn btn-primary float-end">Confirmar</button>
    </form>
{% endblock %}