{% extends 'home.html' %}

{% load bootstrap %}

{% block sidebar %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'compra-list' %}">Compras</a></li>
    <li class="breadcrumb-item"><a href="{% url 'compra-update' item.compra_id %}">Compra {{item.compra}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edição - Item</li>
{% endblock %}

{% block content %}
    <h3>Cadastro de item da compra</h3>
    <form method="POST">
        {% csrf_token %}{% csrf_token %}
        <div class="row">
            <div class="col-md-9">{{form.produto|bootstrap}}</div>
            <div class="col-md-3">{{form.qtde|bootstrap}}</div>
        </div>
        <br>
        <a href="{% url 'compra-update' item.compra_id %}" class="btn btn-danger">Cancelar</a>
        <button type="submit" class="btn btn-primary float-end">Salvar</button>
    </form>
{% endblock %}