{% extends 'crud/list.html' %}

{% block sidebar %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listagem</li>
{% endblock %}

{% block nometela %}
    Pagamentos
{% endblock %}

{% block content %}
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col" style="width: 20%;">Data</th>
                <th scope="col" style="width: 20%;">Nota fiscal</th>
                <th scope="col" style="width: 20%;">Total</th>
                <th scope="col" style="width: 20%;">Fornecedor</th>
                <th scope="col" style="width: 20%;">Pagar</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
            <tr>
                <td style="width: 20%;">{{compra.data}}</td>
                <td style="width: 20%;">{{compra.total}}</td>
                <td style="width: 20%;">{{compra.nparcelas}}</td>
                <td style="width: 20%;">{{compra.fornecedor}}</td>
                <td><a href="{% url 'pagamento-detail' compra.id %}">Pagamento</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}