{% extends 'crud/list.html' %}

{% block sidebar %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listagem</li>
{% endblock %}

{% block nometela %}
    Tipos de pagamentos
{% endblock %}

{% block content %}
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Sigla</th>
                <th scope="col">Nome</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for pagamento in object_list %}
            <tr>
                <td><a href="{% url 'tipopagamento-update' pagamento.id %}">{{pagamento.sigla}}</a></td>
                <td>{{pagamento.descricao}}</td>
                <td style="text-align: center;"><a href="{% url 'tipopagamento-delete' pagamento.id %}"><i class="fa fa-trash-o"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block botao_novo %}
    <a class="btn btn-outline-primary" href="{% url 'tipopagamento-add' %}" role="button">Novo tipo de pagamento</a>
{% endblock %}
