{% extends 'crud/list.html' %}

{% block sidebar %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listagem</li>
{% endblock %}

{% block nometela %}
    Unidades de medida
{% endblock %}

{% block content %}
    <h3>Unidades de medida</h3>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Sigla</th>
                <th>Descrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for unidmedida in unidmedidas %}
            <tr>
                <td><a href="{% url 'unidmedida-update' unidmedida.id %}">{{unidmedida.sigla}}</a></td>
                <td>{{unidmedida.descricao}}</td>
                <td style="text-align: center;"><a href="{% url 'unidmedida-delete' unidmedida.id %}"><i class="fa fa-trash-o"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block botao_novo %}
    <a href="{% url 'unidmedida-add' %}" class="btn btn-outline-primary">Nova unidade</a>
{% endblock %}