{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon">
    <title>SIS Salão - Sistema de gerenciamento e controle de Salão de estética</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fontawesome.css' %}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/icofont.css' %}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/themify.css' %}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/flag-icon.css' %}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/feather-icon.css' %}">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/chartist.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/date-picker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/prism.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vector-map.css' %}">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link id="color" rel="stylesheet" href="{% static 'assets/css/color-6.css' %}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}">
  </head>
  <body>
    <!-- Loader starts-->
    <div class="loader-wrapper">
        <div class="theme-loader">    
          <div class="loader-p"></div>
        </div>
      </div>
    <!-- Loader ends-->
    <!-- page-wrapper Start       -->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      <div class="page-main-header">
        <div class="main-header-right row m-0">
          <div class="main-header-left">
            <div class="logo-wrapper"><a href="{% url 'home' %}"><h6 class="mt-3 f-14 f-w-600">Gestão Salão</h6></a></div>
            <div class="toggle-sidebar"><i class="status_toggle middle" data-feather="align-center" id="sidebar-toggle"></i></div>
          </div>
          <div class="left-menu-header col">
            <ul>
              <li>
                <form class="form-inline search-form">
                  <div class="search-bg"><i class="fa fa-search"></i>
                    <input class="form-control-plaintext" placeholder="Pesquise aqui...">
                  </div>
                </form><span class="d-sm-none mobile-search search-bg"><i class="fa fa-search"></i></span>
              </li>
            </ul>
          </div>
          <div class="nav-right col pull-right right-menu p-0">
            <ul class="nav-menus">
              <li><a class="text-dark" onclick="javascript:toggleFullScreen()"><i data-feather="maximize"></i></a></li>
              <li class="onhover-dropdown p-0">
                <button class="btn btn-primary-light" type="button"><a href="{% url 'logout' %}"><i data-feather="log-out"></i>Sair</a></button>
              </li>
            </ul>
          </div>
          <div class="d-lg-none mobile-toggle pull-right w-auto"><i data-feather="more-horizontal"></i></div>
        </div>
      </div>
      <!-- Page Header Ends                              -->
      <!-- Page Body Start-->
      <div class="page-body-wrapper sidebar-icon">
        <!-- Page Sidebar Start-->
        <header class="main-nav">
          <div class="sidebar-user text-center"><a class="setting-primary" href="javascript:void(0)"><i data-feather="settings"></i></a><img class="img-90 rounded-circle" src="{% static 'user_profile.png' %}" alt="">
            <div class="badge-bottom"><span class="badge badge-primary">Novo</span></div><a href="user-profile.html">
                <h6 class="mt-3 f-14 f-w-600">Rose Depilações</h6></a>
            <p class="mb-0 font-roboto">Depilação feminina</p>
            <ul>
                <li><span class="counter">19</span>
                <p>Atendimentos</p>
                </li>
                <li><span>35</span>
                <p>Clientes</p>
                </li>
                <li><span class="counter">95</span>
                <p>Vendas</p>
                </li>
            </ul>
          </div>
          <nav>
            <div class="main-navbar">
              <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
              <div id="mainnav">
                <ul class="nav-menu custom-scrollbar">
                  <li class="back-btn">
                    <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                  </li>
                  <li class="sidebar-main-title">
                    <div>
                      <h6>Tabelas</h6>
                    </div>
                  </li>
                  <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="home"></i><span>Tabelas básicas</span></a>
                    <ul class="nav-submenu menu-content">
                      <li><a href="{% url 'categoria-list' %}">Categorias</a></li>
                      <li><a href="{% url 'unidmedida-list' %}">Unidade de medida</a></li>
                      <li><a href="{% url 'tipopagamento-list' %}">Tipos de pagamento</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="airplay"></i><span>Cadastros</span></a>
                    <ul class="nav-submenu menu-content">
                      <li><a href="{% url 'cliente-list' %}">Clientes</a></li>
                      <li><a href="{% url 'fornecedor-list' %}">Fornecedores</a></li>
                      <li><a href="{% url 'produto-list' %}">Produtos</a></li>
                      <li><a href="{% url 'servico-list' %}">Serviços</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="layout"></i><span>Movimentações</span></a>
                    <ul class="nav-submenu menu-content">
                      <li><a href="{% url 'compra-list' %}">Notas de compra</a></li>
                      <li><a href="{% url 'venda-list' %}">Vendas</a></li>
                      <li><a href="{% url 'pagamento-list' %}">Pagamentos</a></li>
                      <li><a href="{% url 'recebimento-list' %}">Recebimentos</a></li>
                      <li><a href="{% url 'notaservico-list' %}">Notas de serviço</a></li>
                    </ul>
                  </li>
                  <li><a class="nav-link menu-title link-nav" href=""><i data-feather="headphones"></i><span>Suporte</span></a></li>
                </ul>
              </div>
              <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
            </div>
          </nav>
        </header>
        <!-- Page Sidebar Ends-->
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                    <div class="col-sm-6">
                        <h3>
                            {% block nometela %}{% endblock %}
                        </h3>
                        <ol class="breadcrumb">
                            {% block sidebar %}{% endblock %}
                        </ol>
                    </div>
                    <div class="col-sm-6">
                        <!-- Bookmark Start-->
                        <div class="bookmark">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons" data-bs-original-title="">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-command"><path d="M18 3a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3H6a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3V6a3 3 0 0 0-3-3 3 3 0 0 0-3 3 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 3 3 0 0 0-3-3z"></path>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning" data-bs-original-title="">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                  {% block botao_novo %}
                                  {% endblock %}
                                </li>
                                <li>
                                    {% block botao2 %}
                                    {% endblock %}
                                </li>
                                
                                <!-- <form class="form-inline search-form">
                                    <div class="form-group form-control-search">
                                        <input type="text" placeholder="Procurar..">
                                    </div>
                                </form> -->
                                </li>
                            </ul>
                        </div>
                        <!-- Bookmark Ends-->
                    </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid dashboard-default-sec">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">{% block content %}{% endblock content %}</div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- Container-fluid Ends-->
            </div>
            <!-- footer start-->
            <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-6 footer-copyright">
                    <p class="mb-0">Copyright 2021-22 © Leandro Chaves.</p>
                </div>
                <div class="col-md-6">
                    <p class="pull-right mb-0">Feito a mão e feito com <i class="fa fa-heart font-secondary"></i></p>
                </div>
                </div>
            </div>
            </footer>
        </div>
    </div>
    <!-- latest jquery-->
    <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
    <!-- feather icon js-->
    <script src="{% static 'assets/js/icons/feather-icon/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/icons/feather-icon/feather-icon.js' %}"></script>
    <!-- Sidebar jquery-->
    <script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
    <!-- Bootstrap js-->
    <script src="{% static 'assets/js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- Theme js-->
    <script src="{% static 'assets/js/script.js' %}"></script>
    <!-- login js-->
    <!-- Plugin used-->
    {% block extra_js %}{% endblock %}
  </body>
</html>