{% extends 'index.html' %}

{% block sidebar %}
    <li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}
<!-- 
{% block sidebarmenu %}
    <div class="position-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Tabelas básicas</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'categoria-list' %}">
                    <i class="bi bi-card-list"></i>
                    Categorias
                    
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'unidmedida-list' %}">
                    <i class="bi bi-clipboard-check"></i>
                    Unidades de medida
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tipopagamento-list' %}">
                    <i class="bi bi-cash-stack"></i>
                    Tipos de pagamento
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Cadastros</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {{ active }}" href="{% url 'cliente-list' %}">
                    <i class="bi bi-people"></i>
                    Clientes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'fornecedor-list' %}">
                    <i class="bi bi-people-fill"></i>
                    Fornecedores
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'produto-list' %}">
                    <i class="bi bi-ui-checks"></i>
                    Produtos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'servico-list' %}">
                    <i class="bi bi-shop"></i>
                    Serviços
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Movimentações</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'compra-list' %}">
                    <i class="bi bi-basket2"></i>
                    Notas de compra
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'venda-list' %}">
                    <i class="bi bi-cart3"></i>
                    Vendas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pagamento-list' %}">
                    <i class="bi bi-credit-card"></i>
                    Pagamentos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'recebimento-list' %}">
                    <i class="bi bi-list-check"></i>
                    Recebimentos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'notaservico-list' %}">
                    <i class="bi bi-list-check"></i>
                    Notas de serviços
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $('.nav-link').click(function() {
            let test = $( this ).get(0);
            test;
          });
    </script>
{% endblock %} -->